[submodule "src/MandarinMedien/MMMediaBundle"]
	path = src/MandarinMedien/MMMediaBundle
url=git@github.com:Mandarin-Medien/MMMediaBundle.git
[submodule "src/MandarinMedien/MMCmfAdminBundle"]
	path = src/MandarinMedien/MMCmfAdminBundle
url=git@github.com:Mandarin-Medien/MMCmfAdminBundle.git
[submodule "src/MandarinMedien/MMCmfContentBundle"]
	path = src/MandarinMedien/MMCmfContentBundle
url=git@github.com:Mandarin-Medien/MMCmfContentBundle.git
[submodule "src/MandarinMedien/MMCmfMenuBundle"]
	path = src/MandarinMedien/MMCmfMenuBundle
url=git@github.com:Mandarin-Medien/MMCmfMenuBundle.git
[submodule "src/MandarinMedien/MMCmfNodeBundle"]
	path = src/MandarinMedien/MMCmfNodeBundle
url=git@github.com:Mandarin-Medien/MMCmfNodeBundle.git
[submodule "src/MandarinMedien/MMCmfRoutingBundle"]
	path = src/MandarinMedien/MMCmfRoutingBundle
url=git@github.com:Mandarin-Medien/MMCmfRoutingBundle.git
[submodule "src/MandarinMedien/MMAdminBundle"]
	path = src/MandarinMedien/MMAdminBundle
	url = git@git.mandarinmedien.de:mandarin/MMAdminBundle.git
[submodule "src/MandarinMedien/MMCmf/Admin/PageAddonBundle"]
	path = src/MandarinMedien/MMCmf/Admin/PageAddonBundle
	url = https://github.com/Mandarin-Medien/MMCmfAdminPageAddonBundle
