/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/src/AppBundle/Resources/public/vendor/
/bin/
/composer.phar
/web/assetic
/web/css
/web/js
web/media
